.l-main {
  height: 100px;
}

.l-main-title>h1 {
  margin: 0px;
  padding-left: 144px;
  color: #408060;
}

.l-main-title>h2 {
  margin: 0px;
  padding-left: 144px;
  color: #408060;
}

ul {
  list-style: none;
}

.l-menu {
  padding-right: 144px;
}

.menu-list{
  padding: 0px 20px;
  font-weight: bold;
  display: inline;
}

.menu-list:hover {
  cursor: pointer;
  opacity: 0.4;
}

.l-logo>h1 {
  margin: 0px;
  padding: 8px 0px 8px 144px;
}

footer {
  background: #408060;
  height: 300px;
  width: 100%;
  color: #fff;
}

.l-footer {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  font-size: 20px;
  padding: 48px 0px 0px 144px;
  font-weight: bold;
}

.l-footer-list {
  padding: 24px 120px 0px 0px;
  line-height: 40px;
  font-weight: bold;
  text-align: end;
}

.footer-list:hover {
  cursor: pointer;
  opacity: 0.4;
}

body {
  padding: 0px;
  margin: 0px;
}

header {
  height: 64px;
  width: 100%;
  background:  #408060;
  color: #fff;
}

.l-header {
  display: flex;
  justify-content: space-between;
}

.primary-btn {
  width: 176px;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #408060;
  border-radius: 8px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1)
}

.l-btn {
  width: 60%;
  display: flex;
  padding: 32px;
  margin: auto 80px;
  justify-content: space-between;
}

.primary-btn:hover {
  cursor: pointer;
  opacity: 0.4;
}

.secondary-btn {
  width: 176px;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1)
}

.secondary-btn:hover {
  cursor: pointer;
  opacity: 0.4;
}

.img {
  width: 40%;
  margin: auto 64px;
}

.l-home-article {
  height:640px;
  display: flex;
  justify-content: space-around;
}

.l-home-right>p {
  font-size: 20px;
  width: 60%;
  height: 288px;
  padding: 32px;
  margin: auto 80px;
  border-radius: 4px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1)
}

.l-home-right {
  display: flex;
  flex-direction: column;
}

.l-about-article {
  height: 792px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.l-about-right {
  display: flex;
  flex-direction: column;
}

.l-about-right>p {
  font-size: 20px;
  height: 224px;
  width: 60%;
  padding: 32px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1)
}

.l-service-article {
  height: 792px;
  display: flex;
  justify-content: space-around;
}

.l-service-right {
  display: flex;
  flex-direction: column;
}

.l-service-right>p {
  font-size: 20px;
  height: 224px;
  width: 60%;
  padding: 32px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1)
}

.l-contact {
  margin-top: 208px;
}